#!/bin/zsh
transfer() { if [ $# -eq 0 ]; then echo -e "No arguments specified. Usage:\necho transfer /tmp/test.md\ncat /tmp/test.md | transfer test.md"; return 1; fi 
tmpfile=$( mktemp -t transferXXX ); if tty -s; then basefile=$(basename "$1" | sed -e 's/[^a-zA-Z0-9._-]/-/g'); curl --progress-bar --upload-file "$1" "https://transfer.sh/$basefile" >> $tmpfile; else curl --progress-bar --upload-file "-" "https://transfer.sh/$1" >> $tmpfile ; fi; cat $tmpfile; cat $tmpfile | xclip -selection c; rm -f $tmpfile; } 

alias clip='xclip -selection c'
alias tmpdir='mktemp -d | clip'
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias curconfig='config ls-tree -r master --name-only'
alias venv='source ./env/bin/activate'
alias uvenv='deactivate'
alias nvenv='virtualenv env && venv && pip install pylint autopep8'
alias clipdir='pwd | tr -d '\''\n'\'' | clip'
alias resource='source ~/.zshrc'
alias gitpsh='git push'
alias gitpll='git pull'
alias gitc='git commit'
alias gita='git add -A'
alias gits='git status'
alias backup-minecraft='rsync -chavzP -e "ssh -i ~/.ssh/camkeys.pem" ubuntu@creikey.ddns.net:/home/minecraft/world/ ~/.minecraft/saves/server-backup'
alias -g '***=**/*(.)'

addpath() {
	export PATH="$PATH:$(readlink -f $1)"
}
