#!/bin/zsh
alias clip='xclip -selection c'
alias tmpdir='mktemp -d | clip'
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias curconfig='config ls-tree -r master --name-only'
alias venv='source ./env/bin/activate'
alias uvenv='deactivate'
alias nvenv='virtualenv env && venv && pip install pylint autopep8'
alias clipdir='pwd | tr -d '\''\n'\'' | clip'
alias resource='source ~/.zshrc'
